.car {
    background: #ff72d9;
}

.train {
    background: #71c6ed;
}

.bus {
    background: #ffd671;
}

.walk {
    background: #88ff71;
}

.bike {
    background: #a187ff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#journeyui {
    position: relative;
}

.Segment:nth-of-type(1) {
    margin-top: 150px;
}

.Segment:nth-of-type(1) .ModeRibbon::before {
    content: " ";
    display: block;
    height: 158px;
    background: #ccc;
    position: relative;
    top: -160px;
}

.Segment, .EndSegment {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    position: relative;
}


.EndSegment::before { /* Put a faux mode ribbon in the end segment */
    content: ' ';
    background: #ccc;
}

.timestamp {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 70px;
    z-index: 30;
    font-weight: bold;
    color: #111;
    text-align: center;
}

.ModeRibbon, .EndSegment::before {
    display: block;
    width: 70px;
    position: relative;
    /*top: 150px;*/

    height: 274px;

    text-align: center;

    border-top: 2px solid #aaa;

    z-index: 25;
}

.ModeMenu {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -50%;
    font-size: 2em;
    padding: 20px 0 20px 0;
    width: 100%;
}

.ModeMenu ul {
    list-style-type: none;
    background: #ddd;
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -50%;

    padding: 0 5px 0 5px;
}

.ModeMenu ul li {
    display: inline-block;
    padding: 15px;
    margin: 0;
}

/** The triangle/pointer on the LHS of the map container **/
.Segment .MapOuter::before, .EndSegment .MapOuter::before {
    content: " ";
    display: block;
    position: absolute;
    left: -30px;
    top: 35%;
    width: 30px;
    height: 60px;
    background: #aaa;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.Segment .MapOuter, .EndSegment .MapOuter {
    flex: 1;
    height: 220px;
    margin: 0 0 0 20px;
    border-radius: 18px;
    position: relative;
    border: 10px solid #aaa;
    overflow: visible;
    position: relative;
    top: -150px;
}

.MapOuter::after { /* Apply a mask over the whole map to indicate the point of interest (centre) */
    content: " ";
    background: no-repeat center url("assets/map_mask.png");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0.4;
}

.Segment .Map, .EndSegment .Map
{
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
}


.SegmentInserter
{
    flex-grow: 0;
    flex-basis: 0;
    height: 0;
    overflow: display;
    position: relative;
    z-index: 22;
    top: -142px;
}

.SegmentInserter::before
{
    display: block;
    position: absolute;
    left: 90px;
    content: " + Aggiuni punto";
    width: 200px;
    height: 2.5em;
    padding: 0 20px 0 20px;
    line-height: 2.5em;
    background: #ccc;
    color: #444;
    font-weight: bold;
    text-align: center;
    border-radius: 1.25em;
}

.SegmentControls {
    text-align: right;
}

.SegmentControls button {
    display: inline-block;
    height: 2.0em;
    width: 4em;
    border: 0;
    padding: 5px 15px 10px 15px;
    background: #f44262;
    border-radius: 0 0 7px 7px;
    margin: 0 10px 0 0;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;

}

.SegmentControls .delete::before {

}
