body {
  padding-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
p {
  font-family: sans-serif;
  text-align: center;
}
.leaflet-container {
  height: 900px;
  width: 100%;
  margin: 0 auto;
  z-index: 60;
}

.map {
    width: 60%;
    float: left;
}

.table {
    width: 40%;
    float: left;
}

table tr:nth-of-type(1) td {
    font-weight: bold;
    color: #fff;
}

table tr:nth-of-type(1) td:nth-of-type(1) {
    background: #0c0;
}

table tr:nth-of-type(1) td:nth-of-type(2) {
    background: #c00;
}

table tr:nth-of-type(1) td:nth-of-type(3) {
    background: #00c;
}


ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    font-size: 12px;
}

li {
    padding: 3px;
}

.focus {
    background: #fffa91 !important;
}

.demifocus {
    background: #fffcc4;
}

.position {
    color: #ccc;
    display: inline-block;
    width: 20px;
}

.id {
    display:inline-block;
    width: 200px;
}

.class {
    display: inline-block;
    margin-left: 23px;
    padding: 5px 0 0 0;
}

.blurred .leaflet-tile-container img {
    filter: blur(12px);
}

#btn_blur {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 90;
}

table {
    border-spacing: 0;
}

table td {
    padding: 5px;
}

table tr:nth-of-type(2n) {
    background: #eee;
}
